<div class="grid">
  <div class="row">
    <div class="box">
      <iframe
        src="https://us5.datadoghq.com/graph/embed?token=7d182450de411e6c412772b5918917b164243cfc4262f2e689f72314f9f4c455&height=200&width=400&legend=true"
        width="400"
        height="200"
        frameborder="0"
      ></iframe>
    </div>
    <div class="box">
      <iframe
        src="https://us5.datadoghq.com/graph/embed?token=39cee30bc54c2bbac76802da263abb85cb8d000e60f0eb5b498523b85e53c94a&height=200&width=400&legend=true"
        width="400"
        height="200"
        frameborder="0"
      ></iframe>
    </div>

    <div class="box">
      <iframe
        src="https://us5.datadoghq.com/graph/embed?token=1f5fa267ae718099345e57d440fe97e77d15a13f412194fc7d0cc19037528953&height=200&width=400&legend=true"
        width="400"
        height="200"
        frameborder="0"
      ></iframe>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <iframe
        src="https://us5.datadoghq.com/graph/embed?token=863637557f9efb6209a585cbd90690397d0da424b66d916148656f48868c448c&height=300&width=600&legend=true"
        width="600"
        height="300"
        frameborder="0"
      ></iframe>
    </div>
    <div class="box">
      <iframe
        src="https://us5.datadoghq.com/graph/embed?token=8eb9339652100dee9ab8e2f7ab6407bce4ee9c3ed5296cbe162b8e584b7f0a59&height=300&width=600&legend=true"
        width="600"
        height="300"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</div>
