
<div class="grid">
    <div class="col-12">
        <div class="card" >
            <div class="card card-bg">
                <h5>Select a type : </h5>
			<p-selectButton [options]="documentsOptions" [(ngModel)]="valSelect"  optionLabel="name"></p-selectButton>
            </div>
            <h5>Upload a csv file :</h5>
            <!-- <p-fileUpload name="file"   url="http://localhost:8086/api/csv/tier/upload" (onUpload)="onUpload($event)" -->
            <p-fileUpload #fileUpload  name="file"   [customUpload]="true" (uploadHandler)="onUpload($event)"
                                [multiple]="false" accept="text/csv" [maxFileSize]="1000000" >
            </p-fileUpload>
            <p-messages [(value)]="uploadMessages"></p-messages>

            
        </div>
    </div>
</div>